#### First, we need a dataframe

In [ ]:
df = spark.sql("SELECT * FROM OneLake_Shaun.propertysales LIMIT 1000")
display(df)

#### Simple filtering

In [ ]:
# simple filter condition (pythonic)
df.filter(df['City'] == "New York").show()

# not equal to
df.filter(df['City'] != "New York").show()

# not equal to (another way) - not very readable
df.filter(~(df['City'] == "New York")).show()

#### StartsWith, Endswith

In [ ]:
#startswith 
df.filter(df.City.startswith("L")).show()

#endswith
df.filter(df.City.endswith("ta")).show()

#### Multiple conditions

In [ ]:
# Multple conditions, with AND
# where city is not Atlanta and the SalePrice is greater than 400k 
df.filter((df.City != 'Atlanta') & (df.SalePrice_USD > 400000) ).show()

In [ ]:
# Multple conditions, with OR
# where city is Atlanta OR the city is Los Angeles 
df.filter((df.City == 'Atlanta') | (df.City == 'Los Angeles') ).show()

#### Is a member of a list

In [ ]:
#Filter df if df.City is in the list cities_we_care_about
cities_we_care_about=["Atlanta","Los Angeles"]
df.filter(df.City.isin(cities_we_care_about)).show()

#### String Contains

In [ ]:
# filter df if the Type contains 'House' 

df.filter(df.Type.contains('House')).show()

#### SQL LIKE filtering

In [ ]:
# filer where 'House' appears somewhere in df.Type
df.filter(df.Type.like("%House%")).show()

# filter where df.Type starts with House...
df.filter(df.Type.like("House%")).show()

# filter where df.Address endswith avenue

df.filter(df.Address.like("%avenue")).show()

#### Other ways to use SQL expressions

In [ ]:
# filtering using raw WHERE conditions you would use in SQL
df.filter("City != 'Los Angeles'").show()

df.filter("City <> 'Los Angeles'").show()

#### Using df.where() 

For any of the above functions, you can also use df.where() instead of df.filter() if you prefer - it gives the same result (when using the Spark SQL API)

In [ ]:
df.where(df.City == 'Los Angeles').show()